.ColorPicker {
  button {
    margin: '.5em';
    padding: 0.5em
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }
}
